<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Animal Ages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB17E2AA1B82CFBA0094693A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB17E2BE1B82CFBA0094693A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB17E2C91B82CFBA0094693A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
